.chef-info {
	padding-left: 250px;
}

.chefcontainer {
  width: 500px;
}

.request {
  margin: 14px;
}

#mealhistory {
  margin-bottom: 30px;
}

#chef-username{
  margin-left: 15px;
}

.card {
  width: 450px;
  text-align: center;
}
