.chef-info {
	padding-left: 400px;
}

.request {
  margin: 14px;
}

.mealscontainer {
  margin-top: 150px;
}

.col {
  flex: 1;
}

.card {
  width: 450px;
  text-align: center;
}
.purchase-images {
  width: 125px;
}

.purchase-title {
  text-decoration: underline;
  color: black;
}